# Dependencies
**/node_modules
**/vendor

# Environment & Credentials
**/.env
**/.env.local
**/.env.*.local

# Build & Log Files
**/dist
**/build
**/storage/logs/*
!**/storage/logs/.gitkeep
**/storage/framework/cache/*
!**/storage/framework/cache/.gitkeep
**/storage/framework/sessions/*
!**/storage/framework/sessions/.gitkeep
**/storage/framework/views/*
!**/storage/framework/views/.gitkeep

# IDE & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
